pkgbase = kopa
	pkgdesc = TUI clipboard manager for Wayland
	pkgver = 0.4.10
	pkgrel = 1
	url = https://github.com/eyenalxai/kopa
	install = kopa.install
	arch = x86_64
	license = GPL3
	makedepends = bun
	depends = gcc-libs
	depends = wayland
	options = !debug
	options = !strip
	source = kopa-0.4.10.tar.gz::https://github.com/eyenalxai/kopa/archive/v0.4.10.tar.gz
	source = kopa-daemon.service
	sha256sums = 9a128f6e67d5b6094524f276befbecdf28e3cab4115564b29c8903adc6f3e5cd
	sha256sums = 09c4f9c6ff8efc5a79469bfec4de070063bfafc4179ef1b95ac17edf718aa1f2

pkgname = kopa
