pkgbase = kopa
	pkgdesc = TUI clipboard manager for Wayland
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/eyenalxai/kopa
	arch = x86_64
	license = GPL3
	makedepends = cargo
	makedepends = bun
	depends = gcc-libs
	depends = sqlite
	depends = wayland
	options = !debug
	options = !strip
	source = kopa-0.2.0.tar.gz::https://github.com/eyenalxai/kopa/archive/v0.2.0.tar.gz
	source = kopa-daemon.service
	sha256sums = b3770cd14e55bd8d75847e35afbb79ecedc6de60368bd18108058a4bd93342a7
	sha256sums = d160090f5e87b0dc19d7034264ea43638b0d1fbf54cddb96d9134cee7199df8b

pkgname = kopa
